EGL_EMAIL=your-email@example.com
EGL_PASSWORD=your-password

HA_URL=http://homeassistant.local:1234
HA_TOKEN=your-long-lived-access-token
HA_SENSOR=sensor.eau_grand_lyon_daily
HA_SENSOR_MONTHLY=sensor.eau_grand_lyon_monthly_current
HA_STATISTIC_ID=sensor.eau_grand_lyon_daily_import
